@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}

/* 화면 전체 렙 */
.wrapper{
	
		background: #eff0f4;
		margin-top:100px;
		margin-bottom:100px;
		width : 50%;	
		padding: 100px;
		padding-bottom: 150px;
		margin-left:15%;
		border-width: 3px;
		border-color: #c9d3dd;
		border-style: solid;
		border-radius: 20px;	
}

/* content 랩 */
.wrap{
	width : 800px;
	margin: auto;
}

/* 페이지 로고 */
.logo_wrap{
 color:#000000;
	text-align: center;	
}
.logo_wrap>span{
font-size : 50px;
	font-weight: 1000;
	}


/* 로그인 area */
.id_input_box{
	background: #ffffff;
	border: 2px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 100%;
	border-color: #c9d3dd;
	border-radius: 5px;
}
.id_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}


.pw_wrap{
	margin-top: 40px;
}
.pw_input_box{
		background: #ffffff;
	border: 2px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 100%;
		border-color: #c9d3dd;
		border-radius: 5px;	
}
.pw_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}


.login_button_wrap{
	margin-top: 40px;
	text-align: center;
}
.login_button{
	width : 100%;
	padding-left: 45%;
	padding-right: 45%;
	margin-top: 50px;
    height:50px;
    background-color: #000000;
    font-size: 20px;
    font-weight: 500;
    color: white;
	border-radius: 5px;
}

.login_warn{
	margin-top : 30px;
	text-align : center;
	color : red;
}

.loginm {
  display: flex;
margin-top:30px;
  align-items: center;
  

}
.login-f {
margin-right:10%;
}

/* float 속성 해제 */
.clearfix{
	clear: both;
}
