<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.MemberInforMapper">
  

         <insert id="useInfo">
  			insert into member_infor(memberId) values(#{memberId})
  		
  		</insert>
  		
  		
  		<!-- 마이페이지 수정 -->
  	<update id="updateInfo">
  	
  		update  member_infor 
  		set memberMbti = #{memberMbti}, memberDate = #{memberDate}, memberAge = #{memberAge}
  		where memberId = #{memberId}
  		
  	</update>
  	
  	
  	<select id="usePrint" resultType="com.spring.model.MemberInforVO">
    
        select * from member_infor where memberId = #{memberId}
    
    </select>
 
  		
  </mapper>