<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.ReplyMapper">
  
  <!-- 댓글등록 -->
  	<insert id="enrollReply">
  	
  		insert into cocktail_reply(cocktailNo, memberId, content, rating) values(#{cocktailNo}, #{memberId}, #{content}, #{rating})
  	
  	</insert>
 
 	<select id="checkReply" resultType="integer">
	
		select replyId from cocktail_reply 
		where memberId = #{memberId} and cocktailNo = #{cocktailNo}
	
	</select>
	
	<!-- 댓글 페이징 -->
  	<select id="getReplyList" resultType="com.spring.model.ReplyDTO">
		  		
		select replyId, cocktailNo, memberId, content, rating, regDate
		from cocktail_reply 
		where cocktailNo = #{cocktailNo}
		order by regDate desc  		
  		limit #{skip}, #{amount}
  		
  	</select>
  	
  	<!-- 댓글 총 수 -->
  	<select id="getReplyTotal" resultType="int">
  	
  		select count(*)
  		from cocktail_reply
  		where cocktailNo = #{cocktailNo}
  	
  	</select>
  	
  	<!-- 댓글 수정 -->
  	<update id="updateReply">
  	
  		update cocktail_reply set content = #{content}, rating = #{rating}
  		where replyId = #{replyId}
  		
  	</update>
  	
  	<!-- 댓글 한개 정보 -->
  	<select id="getUpdateReply" resultType="com.spring.model.ReplyDTO">
	
		select * from cocktail_reply
		where replyId = #{replyId}
		
	</select>
	
	<!-- 댓글 삭제 -->
  	<delete id="deleteReply">
  	
  		DELETE FROM cocktail_reply
  		WHERE replyId = #{replyId}
  		
  	</delete>
  	
  	<!-- 평균평점 -->
  	<select id="getRatingAverage" resultType="double">
  	
  		select avg(rating)
  		from cocktail_reply
  		where cocktailNo = #{cocktailNo}
  	
  	</select>

	<update id="updateRating">
	
		update cocktail_recipe
		set cocktailRating = #{cocktailRating}
		where cocktailNo = #{cocktailNo}
	
	</update>
  </mapper>