/*
Global
============================= */
		* {padding:0;margin:0;}
input[id="menuicon"] {display:none;}
input[id="menuicon"] + ul {display:block;position:fixed;right:0;top:3%;transform:translateY(-50%);transition:all .35s;text-align:right;}
input[id="menuicon"] + ul > li {display:block;width:50px;height:50px;border:1px solid #f1f1f1;position:relative;margin-top:-1px;}
input[id="menuicon"] + ul > li > a {display:block;width:auto;height:50px;overflow:hidden;transition:all .35s;}
input[id="menuicon"] + ul > li > label {display:block;cursor:pointer;width:auto;height:50px;background:#dadada;}
input[id="menuicon"] + ul > li:nth-child(1) label span {display:block;position:absolute;width:50%;height:3px;border-radius:30px;background:#333;transition:all .35s;}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(1) {top:30%;left:50%;transform:translateX(-50%);}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(2) {top:50%;left:50%;transform:translate(-50%,-50%);}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(3) {bottom:30%;left:50%;transform:translateX(-50%);}
input[id="menuicon"]:checked + ul {z-index:2;right:400px;}
input[id="menuicon"]:checked + ul > li:nth-child(1) label {z-index:2;right:400px;}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(1) {top:50%;left:50%;transform:translate(-50%,-50%) rotate(45deg);}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(3) {bottom:50%;left:50%;transform:translate(-50%,50%) rotate(-45deg);}
/* 메뉴부분*/
div[class="sidebar"] {width:1000px;height:100%;background:#000000;position:fixed;top:0;right:-1000px;z-index:1;transition:all .35s;}
div[class="sidebar"] {width:400px;height:100%;background:#f7f7f7;position:fixed;top:0;right:-400px;z-index:1;transition:all .35s;}

input[id="menuicon"]:checked + ul + div {right:0;}


/*회원가입 부분
================================================= */




/*================================================ */







/*로그인 부분
================================================= */

/* 페이지 로고 */
.logo_wrap{
	  color:#000000;
	text-align: center;	

}
.logo_wrap>span{
	font-size : 50px;
	font-weight: 1000;
}



.id_input_box{
	background: #ffffff;
	border: 2px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 100%;
	border-color: #c9d3dd;
	border-radius: 5px;
}
.id_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;

}


.pw_wrap{
	margin-top: 40px;
}
.pw_input_box{
		background: #ffffff;
	border: 2px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 100%;
		border-color: #c9d3dd;
		border-radius: 5px;
}
.pw_iput{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;

}
.login_button{
	width : 100%;
	padding-left: 45%;
	padding-right: 45%;
	margin-top: 50px;
    height:50px;
    background-color: #000000;
    font-size: 20px;
    font-weight: 500;
    color: white;
	border-radius: 5px;
 
}



.login-bg{
		background: #eff0f4;
		margin-top:100px;
		margin-bottom:100px;
		width : 50%;	
		padding: 100px;
		padding-bottom: 150px;
		margin-left:15%;
		border-width: 3px;
		border-color: #c9d3dd;
		border-style: solid;
		border-radius: 20px;		
		}

.loginm {
  display: flex;
margin-top:30px;
  align-items: center;

}
.login-f {
margin-right:10%;
}

.clearfix{
	clear: both;
}


/*
======================================== */







/* 
side
===========================*/
.sidem_a {
  display: flex;
  height: 60px;
  justify-content: flex-start;
  align-items: center;

}

.sidem_b {
  display: flex;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
}

.sidem {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;

}
.sidem_mm{
	margin-top:10px;
	margin-left:15px;
}
.sidem_mm1{
	margin-left:15px;
	padding-top:25px;
}
.items {
  height: 50px;
  text-align: center;
}
	.sidem-bg{
		margin-left:7px;
		margin-right:7px;
		background: #FF0000;
		height: 4px;
		border-radius: 100px;
		
		}

	.sidem-bg2{
		margin-left:5px;
		margin-right:10px;
		margin-top:1px;		
		background: #D7D7D7;
		width: 3px;
		height:200px;
		}
		
		.sidem-bg3{
		margin-left:5px;
		margin-right:10px;
		background: #D7D7D7;
		height: 4px;
		border-radius: 100px;
		
		}

.sidem2 {
  display: flex;
  height: 230px;
  justify-content: space-between;
  align-items: center;

}
.items2 {
  height: 230px;
  text-align: center;

}
.items2-mm1 {
 margin-top:5px;
	margin-left:50px;
}
.items2-mm2 {
	 margin-top:5px;
  margin-right:40px;
}
.sidem2-f{
		margin-top:2%;
		line-height : 100%;
		font-size: 35px;
		font-family: "한컴 바겐세일 M";
		color:#000000;
		}
		
		.sidem2-f2{
line-height : 100%;
		font-size: 20px;
		font-family: "고딕";
		color:#000000;
		}
		

.sidem-mm4{
		   padding-top:15px;
		   padding-bottom:15px;
		    padding-left:10px;

		}

.sidem-mm5{
			padding-left:10px;
		   padding-top:15px;
		   padding-bottom:15px;
		   background: #FFFFFF;
		}
		

/*=======================================================*/



		.Page-Title{
	
  border-bottom: 3px solid #999999;
  text-align: center;
  font-size:60px;
  width:100%;
  height:50px;
  font-family: "HY바다M";
  	color:#000000;
}
	
		.carousel-bg {
		background: #000000;
		width: 100%


		}
		
		.v-bg {
		background: #d6d6d6;
		margin-top:55px;		
		height:630px;
		width: 1px;
		}

		.v-bg1 {
		background: transparent;			
		height:320px;
		width: 1px;
		}
		.v-bg2 {
		background: #d6d6d6;
		margin-top:55px;
		width: 1px;		
		height:550px;
		}

		.f-bg{
		background: #f7f6f6;
		margin-top:80px;
		
		padding-bottom: 10px;
		
		
		border-width: 2px;
		border-color: #c0c0c0;
		border-style: solid;
		border-radius: 20px;
		
		}
		.f-bg2{
			background: #000000;
			margin-top:80px;
			margin-right:10px;
			margin-left: 10px;
			padding-bottom: 10px;
			width: 100%;
			margin-left:25px;
			border-width: 2px;
			border-color: #c0c0c0;
			border-style: solid;
			border-radius: 20px;
		}
		.my-f1{
		margin-top:4%;
		font-size: 20px;
		font-family: "고딕";
		color:#000000;
		}
		.my-f2{
		margin-top:1%;
		font-size: 20px;
		font-family: "고딕";
		color:#000000;

		}
		.my-f3{
		margin-top:1%;
		font-size: 20px;
		font-family: "한컴 백제 M";
		color:#000000;
		}

		.my-f4{
			margin-top:1%;
			font-size: 20px;
			font-family: "고딕";
			color:#ffffff;
		}

		.my-f5{
		margin-top:1%;
		font-size: 30px;
		font-family: "한컴 백제 M";
		color:#000000;
		}
		
		.my-f6{
		margin-top:2%;
		line-height : 100%;
		font-size: 50px;
		font-family: "한컴 바겐세일 M";
		color:#000000;
		}
		.mm{
		margin-left:50px;
		}
		.mm1{
		margin-left:55px;
		}
		.mm2{
		margin-left:88%;
		margin-top:1%;
		}
		.mm22{
		margin-left:50%;
		margin-top:1%;
		padding-left: 50px;
		padding-right:50px;
		width: 170px;
		font-family: "한컴 백제 M";
		}
		.mm23{
		margin-left:20%;
		margin-top:1%;

		width: 150px
		}
		.mm24{
		margin-left:41%;
		margin-top:1%;

		width: 170px
		}
		.mm3{
		margin-left:60px;
		margin-top:40px;
		margin-bottom:30px;
		}
		.mm4{
		margin-left:50px;
		margin-top:30px;
		margin-bottom:30px;

		}
		
		.mm5{
		margin-left:30px;

		}
		
		.mm6{
		margin-left:40px;
		margin-top:70px;
		margin-bottom:5px;
		}
		
			.mm7{
		margin-left:50px;
		margin-top:5px;
		margin-bottom:5px;
		}
		.row-view{
			background: #f7f6f6;
			
		}

		.row-view2{
			margin-left:15px;
			
			background: #f7f6f6;
			
		}



body{
	font-family:'Source Sans Pro', sans-serif;
	/*background: #e6a09c;*/
	color:#666;
	font-size:16px;
	font-weight: 400;
	  -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
}

* {
     text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

p{line-height: 24px}
a{color:#0088cc;}
a:hover{text-decoration: none;}



h1,h2,h3,h4,h5,h6{ font-family:'Source Sans Pro', sans-serif}

h1{font-size:50px; font-weight: 200; color: #555; margin-bottom: 20px; }
h2{font-size: 37px; font-weight: 300; color:#444; margin: 0px 0 margin-top: 2px;}
h3{font-size: 32px; font-weight: 400; margin-top: 60px;}
h4{font-size:18px; font-weight: 400}

/* 
HEADER ROW STYLE
===========================*/
#header-row{
	
	
	background: #ffffff;
	border-bottom:1px solid #eee;
	padding: 15px 0;
}

#header-row .navbar{margin:10px 0 0 0;}

#header-row .navbar .navbar-inner{
	border:none;
	box-shadow: none;
	margin: 0;
	background: transparent;
}

#header-row .navbar .navbar-inner ul.nav > li > a{
	box-shadow: none;
	background: transparent;
	color: #0088cc;
}
#header-row .navbar .navbar-inner ul.nav li.active a{
	color: #333;
}


/* 
Carousel
===========================*/

.carousel-control{
/* 슬라이스 넘기는 화살표*/
	background: transparent;
	width: 14px;
	height: 14px;
	font-size: 20px;
	
	top:46%;	
}

.carousel-control.right{right:-30px;}
.carousel-control.left{left:-30px;}


/*
.carousel{
	
	height: 450px;
	background: url(../img/slide-bg.png) no-repeat bottom center;
}
*/
.carousel img{/* 이미지 위치*/
	max-width: 100%;
	 margin-top:2%;
	 margin-right:0px;
	  margin-bottom:2%;
}

.carousel-caption {
	/*글씨 전체 부분*/
      background-color: transparent;
      position: relative;
      max-width: 80%;
      padding: 0 20px;
      margin-top:10%;
	  margin-left:5%;

}

.carousel-caption h1{/* 큰글씨*/
	
	line-height : 100%;
	font-size: 50px;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-family: "함초롬바탕";
	color:#ffffff;
	font-weight:200;
}
.carousel-caption .lead{/* 작은 세부 글씨*/
	
	color: #888;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 40px;
	font-weight: 400
}


/* Divider
==================*/
.hr-divider{
	background: url(../img/slide-bg.png) no-repeat bottom center; 
	width:1170px;
	height: 100px;
	margin-bottom: 50px;
	display: block;
	clear: both;}

.hr-divider2{
	display: flex;
	flex-direction:row;
}
.hr-divider2:before{
	content: "";
	flex: 1 1;
	border-bottom: 2px solid rgb(50, 50, 50);
	margin: auto;
}
.hr-divider2:after {
		content: "";
		flex: 12 10;
		border-bottom: 2px solid rgb(50, 50, 50);
		margin: auto;
   }
/*Feature
==========================*/
.feature-box{
	padding-top :10px;
	text-align: center;
}
.cnt-title { text-align: center; margin-bottom: 50px; }
.cnt-title2 { text-align: left; margin-bottom: 50px; }
.cnt-title span {
    color: #000000;
	font-family: "한컴 바겐세일 M";
	font-size: 48px;
	font-weight: 100;
}
.cnt-title2 span {
	margin-left: 40px;
	font-family: "한컴 바겐세일 M";
	font-size: 50px;
	font-weight: 100;
}
/*
.feature{
	padding-top :1px;
	height: 520px;
	background: url(../img/slide-bg.png) no-repeat bottom center;
}
*/

/* Review
==========================*/
.review{
	margin: 80px 0;
}

/* Page Header
==========================*/

.page-header{
	border-bottom: 1px solid #f5f5f5;
}


/*Media
========================*/

.media{
	margin-bottom:50px;
}

/*MAP
========================*/
#map-canvas{
	height: 400px;
	border: 15px solid #fff;
	box-shadow:0 0 0 1px #f5f5f5;
}


/*MAP
========================*/

.blog-post{
		border-bottom: 2px solid #f5f5f5;
		padding:0 0 50px; 
		margin-bottom: 40px;
}


.blog-post p{
	margin: 20px 0;

}


.postmetadata{
	margin-bottom: 20px;
	padding: 5px 0;
}

.postmetadata ul{margin: 0; padding: 0}

.postmetadata ul li{
	display: inline-block;
	margin-right: 20px;
}

.postmetadata i{
	margin: 4px 5px 0 0;
}


/*Sidebar
========================*/

.side-bar{margin-bottom: 30px;}

.side-bar ul{margin: 0; padding: 0}
.side-bar ul li{list-style: none;}

.side-bar h3{margin-bottom: 10px}

.recent-post strong {display: block; margin-bottom: 5px; color: #888 }

.recent-post li{margin-bottom: 15px}

/*Tags
========================*/

/*Calendar
========================*/
.calendar {


  }
  
  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .year-month {
	font-size: 35px;
	margin-bottom:20px;
  }
  .days-bg{
	padding-bottom: 10px;			
  }
  .nava {
	display: flex;
	border: 1px solid #333333;
	margin-bottom:20px;
	border-radius: 5px;
  }
  
  .nav-btn {
	width: 28px;
	height: 30px;
	border: none;
	font-size: 16px;
	line-height: 34px;
	background-color: transparent;
	cursor: pointer;
  }
  
  .go-today {
	width: 75px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
  }
  /*
  .days {=
	display: flex;
	margin: 25px 0 10px;
	font-size: 30px;
  }
  
  .day {
	width: calc(100% / 7);
	text-align: center;
  }
  */
  .dates {
	display: flex;
	flex-flow: row wrap;
    	height: 750px;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
  }
  
  .date {
	width: calc(100% / 10);
	padding: 23px;
	text-align: right;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;

  }
  /*
  .day:nth-child(7n + 1),
  .date:nth-child(7n + 1) {
	color: #D13E3E;
  }
  
  .day:nth-child(7n),
  .date:nth-child(7n) {
	color: #396EE2;
  }
  */
  .other {
	opacity: 0.3;
  }
  
  .today {
	position: relative;
	color: #FFFFFF;
  }
  
  .today::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 35px;
	height: 35px;
	display: block;
	background-color: #FF0000;
	border-radius: 40%; 
	content: '';
  }
		.f-bg3{
		background: #FAFAFA;
		margin-top:20px;

	   padding: 15px;
		padding-bottom: 70px;
		
		border-width: 2px;
		border-color: #c0c0c0;
		border-style: solid;
		border-radius: 20px;
		
		}


/*Footer
========================*/

footer{
border-top:1px solid #eee;
background: #f5f5f5;
padding: 30px 0;
color: #ccc;
margin-top:40px;
}


/* Responsive View
=================================*/

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

 }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }


