/*

===============사이드 메뉴============== */
		* {padding:0;margin:0;}
input[id="menuicon"] {display:none;}
input[id="menuicon"] + ul {display:block;position:fixed;right:0;top:3%;transform:translateY(-50%);transition:all .35s;text-align:right;}
input[id="menuicon"] + ul > li {display:block;width:50px;height:50px;border:1px solid #f1f1f1;position:relative;margin-top:-1px;}
input[id="menuicon"] + ul > li > a {display:block;width:auto;height:50px;overflow:hidden;transition:all .35s;}
input[id="menuicon"] + ul > li > label {display:block;cursor:pointer;width:auto;height:50px;background:#dadada;}
input[id="menuicon"] + ul > li:nth-child(1) label span {display:block;position:absolute;width:50%;height:3px;border-radius:30px;background:#333;transition:all .35s;}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(1) {top:30%;left:50%;transform:translateX(-50%);}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(2) {top:50%;left:50%;transform:translate(-50%,-50%);}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(3) {bottom:30%;left:50%;transform:translateX(-50%);}
input[id="menuicon"]:checked + ul {z-index:2;right:400px;}
input[id="menuicon"]:checked + ul > li:nth-child(1) label {z-index:2;right:400px;}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(1) {top:50%;left:50%;transform:translate(-50%,-50%) rotate(45deg);}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(3) {bottom:50%;left:50%;transform:translate(-50%,50%) rotate(-45deg);}
/* 메뉴부분*/

div[class="sidebar"] {width:400px;height:100%;background:#FAF9F9; border : 2px solid #f1f1f1; position:fixed;top:0;right:-405px;z-index:1;transition:all .35s;}
														/* 사이트 배경 색깔*/
input[id="menuicon"]:checked + ul + div {right:0;}







/*게시판
================================================= */

.board_Page-Title{
	
  margin-bottom: 20px;
  text-align: center;
  font-size:60px;
  width:100%;
  height:50px;
  font-family: "HY바다M";
  	color:#000000;
}


.board
{
	  display: flex;
	width : 100%;
 /*margin-left: 20px;*/


}
.board_type1 {
	height: 40px;
	width : 15%;
	font-size:18px;
     margin-right: 20px;
	  margin-left: 20px;
}

.board_search {
	
	width : 85%;
	/* margin-left: 17px;*/
}
.board_search input{
	font-size:20px;
	height: 23px;
	width:96%;
	padding:10px;
	border: 0px;
	outline: none;
	float:left;
	border: 2px solid #c9d3dd;
	border-radius: 20px;
  margin-right: 10px;	
}

.board button{
	width:17%;
	font-size:18px;
	border: 2px solid #b70f0a;
	height: 50px;
	border-radius: 10px;
	background: #b70f0a;
	/*outline: none;*/
	/*float:left;*/
	color: #ffffff;
	  margin-left: 5px;
	  margin-right: 2%;
}



.boarda {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;

}


.board_a {
  display: flex;

  justify-content: flex-start;
  align-items: center;

}
.board_a input{
	  margin-left: 20px;
     width:40%;
	   height: 30px;
}



.board_b{
  display: flex;

  justify-content: flex-end;
  align-items: center;
    margin-right: 10px;
}


.board_b select{
  margin-right: 20px;
     width:110px;
	 height: 40px;
}




.board-table {
	 margin-left: 20px;
  font-size: 13px;
  width: 95%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a {
  color: #333;
  vertical-align: middle;
  text-decoration-line: none;
}
.board-table a:hover {

  text-decoration: underline;
}
.board-table th {
  text-align: center;

}
.board-table thead th {
 	background: #000000;
	color: #ffffff;

}



/*번호*/
.board-table .th-num {
  width: 100px;
  text-align: center;
}
/*카테고리*/
.board-table .th-category {
  width: 10%;
}
/*제목 */
.board-table .th-title {
  width: 50%;
}
/*작성자*/
.board-table .th-writer {
  width: 200px;
}
/*작성일*/
.board-table .th-date {
  width: 200px;
}
/*추천 */
.board-table .th-good {
  width: 200px;
}
/*조회 */
.board-table .th-Lookup {
  width: 200px;
}


.board-table th, .board-table td {
  padding: 14px 0;
}



.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;

}



.boardb
{
	  display: flex;
	width : 100%;
 margin-top: 10px;


}

.boardb button{
	
	width:13%;
	font-size:18px;
	border: 2px solid #b70f0a;
	height: 50px;
	border-radius: 10px;
	background: #b70f0a;
	/*outline: none;*/
	/*float:left;*/
	color: #ffffff;
	  margin-left: 23%;
	
}

/* 페이지 숫자, 작성 버튼 */
	.foot{
			margin-left: 40%;
			margin-top: 15px;
		}
 

            .foot .arrow {
                -ms-transform: scale(1.5); /* IE */
                -moz-transform: scale(1.5); /* FF */
                -webkit-transform: scale(1.5); /* Safari and Chrome */
                -o-transform: scale(1.5); /* Opera */

                -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
                -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
                box-shadow:inset 0px 1px 0px 0px #ffffff;
                background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fff), color-stop(1, #fff) );
                background:-moz-linear-gradient( center top, #fff 5%, #fff 100% );
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff');
                background-color:#fff;
                -webkit-border-top-left-radius: 3px;
                -moz-border-radius-topleft: 3px;
                border-top-left-radius: 3px;
                -webkit-border-top-right-radius: 3px;
                -moz-border-radius-topright: 3px;
                border-top-right-radius: 3px;
                -webkit-border-bottom-right-radius: 3px;
                -moz-border-radius-bottomright: 3px;
                border-bottom-right-radius: 3px;
                -webkit-border-bottom-left-radius: 3px;
                -moz-border-radius-bottomleft: 3px;
                border-bottom-left-radius: 3px;
                text-indent:0;
                border:1px solid #d4d4d4;
                display:inline-block;
                color:#d4d4d4;
               
                font-size:10px;
                width:16px;
                height:16px;
                line-height:16px;

                text-decoration:none;
                text-align:center;
                text-shadow:1px 1px 0px #ffffff;
            }

            .foot .radius-right {  
                -webkit-border-top-right-radius: 1px;
                -moz-border-radius-topright: 1px;
                border-top-right-radius: 1px;

                -webkit-border-bottom-right-radius: 1px;
                -moz-border-radius-bottomright: 1px;
                border-bottom-right-radius: 1px;

                margin-left: 10px;
             }

            .foot .radius-left {
                -webkit-border-top-left-radius: 1px;
                -moz-border-radius-topleft: 1px;
                border-top-left-radius: 1px;

                -webkit-border-bottom-left-radius: 1px;
                -moz-border-radius-bottomleft: 1px;
                border-bottom-left-radius: 1px;

                margin-right: 10px;
				
				
             }

	.num_box {
				color:#000000;
                margin:  0 5px 0 5px;
                border-width: 0px;
                font-weight: bold;
             }

/*================================================= */


/*키워드
================================================= */

  /* 페이지 제목 */
.text-box  {
  font-family: 'Staatliches', cursive;
  font-size: 45px;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px #e61610;
  margin: 0;
  font-family: "한컴 바겐세일 M";
  /*text-decoration: underline;*/
}


.Search-bg{
		background: #000000;
		margin-top:30px;
		margin-bottom:20px;
		width : 100%;	
		padding-top: 40px;
		padding-bottom: 50px;

		border-width: 3px;
		border-color: #c9d3dd;
		border-style: solid;
		border-radius: 20px;		
		}
 



 
   /*슬라이더 범위*/
        .slidecontainer {
			 display: flex;
            width: 90%;
			height:50px;
            margin-top: 50px;
			text-align: center;
        }
	
	
	
	.slider-f1 {
			margin-top: 10px;
		    margin-left:40px;
			
			float: left;
			width: 60%;
			color:#ffffff;
      }
	   .slider-f2 {
		    margin-top: 10px;
			 margin-right:20px;
			margin-left:10px;
			float: left; width: 50%;
			color:#ffffff;
      }
        .slider {
			margin-top: 10px;
            -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
            width: 100%; /* 슬라이더 길이 */
            height: 10px; /* 슬라이더 두께 */
            border-radius: 5px; /* 슬라이더 모서리를 약간 둥글게 */
            /*background: #000000; /* 슬라이더 색상 */
            outline: none; /* 슬라이더 테두리 없이 */
        }

        /* 슬라이더 핸들(클릭해서 드래그하는 부분) 커스텀 
        (Chrome, Opera, Safari, Edge 브라우저를 위해서는 -webkit-을,
        Firefox 브라우저를 위해서는 -moz- 를 사용하세요 */
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
            appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
            width: 20px; /* 슬라이더 핸들 길이 */
            height: 20px; /* 슬라이더 핸들 높이 */
            border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
            background: #e61610; /* 슬라이더 핸들 색상 */
            cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
        }

        .slider::-moz-range-thumb {
            width: 20px; /* 슬라이더 핸들 길이 */
            height: 20px; /* 슬라이더 핸들 높이 */
            border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
            background: #00f; /* 슬라이더 핸들 색상 */
            cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
        }
	

.Search_button {
	background-color: #e61610; 
    color: white;
	border-radius: 5px;
	height:20px;
	width: 70%;

	cursor: pointer;
}

	
	
	
	
	
	
	
	
	
	
 /* 세로 메뉴 부분 */
 .lnb-bg 
{  
background: #f5f2ec;
 border-radius: 10px;
width: 90%;
margin-left: 5%;
padding-top : 10px;
padding-bottom : 10px;

}

#lnb {position: relative;
width: 95%;
margin-left: 1%;
}
#lnb h1 {
	 border-radius: 10px;
	font-weight: 100;
	padding-top : 10px;
padding-bottom : 10px;
margin-left: 2%;
height: 40px;
text-align: center;
color: #fff;
font-size: 30px;
 font-family: "한컴 백제 M";
 background: #b71c1c;
 
 }


#lnb > ul 
{ list-style:none;

}
#lnb > ul > li 
{
	list-style:none ;
 }
#lnb > ul > li > a {
	list-style:none ;
display: block;
padding: 14px 35px 14px 15px; 
color: inherit;
 font-family: "한컴 백제 M";
 font-size: 26px;
 background:#f3f3f0 url(http://cfile26.uf.tistory.com/image/2417E04D570C5C02256897) no-repeat 95% 15px;
 }
#lnb > ul > li a:hover {
color: #d91c1b;
 background-color: #f3f3f0;
 }
#lnb > ul > li.on > a {
color: #d91c1b;
 background: #f3f3f0 url('http://cfile9.uf.tistory.com/image/257B794F570C5C0D1A05E1') no-repeat 95% 14px;}
#lnb > ul > li ul {display: none;}
#lnb > ul > li > ul > li  {
list-style:none ;
	}
#lnb > ul > li > ul > li > a {
	display: block;
	padding: 0 25px 14px 14px;
	color: #inherit;
	font-size: 12px;
	background: #f3f3f0;
	}

#lnb > ul li.noDepth a {background-image: none !important; }


/*
 .container-gf {
	border-top: none;
	 	width:93%; 
	  height: 450px;
margin-left: 40px;
background: #b70f0a;
color: #000000;
  border-radius: 10px 10px 50px 0px;
  }
 .container-gf2 {
   height: 50px;
    text-align: center;
	font-size : 25px;
	font-weight: 1000;
	color: #ffffff;
  }

 .container2 {


    height: 400px;
    overflow: auto;
	background: #ffffff;
	width:100%; 
	overflow-y:scroll;
  }

  .container2 tr {
    height: 100px;
  }
    .container2 td {

  }
  .container2::-webkit-scrollbar {
    width: 5px;
  }
  .container2::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .container2::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

*/
/*선택 부분 */
 .ingredient {
	/* margin-left: 50px;*/

    height: 250px;
    overflow: auto;
	padding: 2px 2px 2px 2px;
	width:100%; 
	overflow-y:scroll;
  }
   .ingredient table { 
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;

  }
  .ingredient tr {
    height: 60px;
  }
    .ingredient td {
		font-size: 18px;
   	 padding-left: 10px;
  }
  .ingredient::-webkit-scrollbar {
    width: 10px;
  }
  .ingredient::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .ingredient::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }







/*정렬*/
 .came_bnt_mm  {
	 margin-top: 10px;
	 margin-right: 5%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
}
/*카메라*/
.camera2  {
	 margin-right: 2%;
width : 40px;
 height: 30px;
}
/*키워드 추가 버튼*/
 .Search_bnt  {

width : 80px;
 height: 25px;
}


/*====================*/

/*재료 입력 검색*/
.Searchba {
	height: 35px;
	width : 100%;
	/* margin-left: 17px;*/
}
.Searchba input{
	font-size:26px;
	height: 35px;
	width:73%;
	padding:10px;
	border: 0px;
	outline: none;
	float:left;
	border: 2px solid #c9d3dd;
}

.Searchba button{
	width:24%;
	border: 2px solid #c9d3dd;
	height: 58px;

	background: #ffffff;
	outline: none;
	float:left;
	color: #000000;
}




/*칩 부분 (키워드)*/

.chip_bg{
   	background: #ffffff;
		margin-top:40px;
		margin-bottom:20px;
		width : 100%;	
		
		border-width: 3px;
		border-color: #000000;
		border-style: solid;
		border-radius: 8px;
		 display: flex;
}

.chip_bg2{
	margin-bottom:20px;
		width : 90%;	
}
.chip{

  	margin-top:10px;
	margin-right:10px;
	float:left;
  
    background-color: #e5e5e5;
    border: none;
    cursor: default;
    height: 40px;
    /*outline: none;*/
    font-size: 20px;
    font-color: #333333;
    font-family:"Open Sans", sans-serif;

    border-radius: 16px;

    /*text-decoration: none;*/
    /*justify-content: center;*/
	/*cursor: inherit;*/
    display: flex;
    align-items: center;
    /*user-select: none;*/
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}

.chip-svg{
        color: #999999;
    cursor: pointer;
    height: auto;
    margin: 4px 4px 0 1px;
  fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}
.chip-svg:hover{
    color: #666666;
}
/*칩 검색 부분*/
.chip-btn{
	 
	    font-size: 24px;
		  color: #ffffff;
	float:right;
	width: 130px;
    height: 130px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	background: #b71c1c
}


















/*회원가입 부분
================================================= */

/* 화면 전체 렙 */
.wrapper {
}

/* content 랩 */
.wrap {
}
/* 페이지 제목 */
.subjecet {/
	color:#000000;
	text-align: center;	
}
.subjecet span {
	font-size : 50px;
	font-weight: 1000;
}

/* 아이디 영역 */
.id_wrap {
	width: 100%;
	margin-top: 20px;
}

.id_name {
	font-size: 22px;
	font-weight: bold;
}

.id_input_box {
	margin-top: 20px;
	background: #ffffff;
	border: 3px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 95%;
	border-color: #c9d3dd;
	border-radius: 5px;
}

.id_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 중복아이디 존재하지 않는경우 */
.id_input_re_1 {
	color: green;
	display: none;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2 {
	color: red;
	display: none;
}
/* 비밀번호 영역 */
.pw_wrap {
	width: 100%;
	margin-top: 20px;
}

.pw_name {
	font-size: 22px;
	font-weight: bold;
}

.pw_input_box {
	
	margin-top: 20px;
	background: #ffffff;
	border: 3px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 95%;
	border-color: #c9d3dd;
	border-radius: 5px;
}

.pw_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 비밀번호 확인 영역 */
.pwck_wrap {
	width: 100%;
	margin-top: 20px;
}

.pwck_name {
	font-size: 22px;
	font-weight: bold;
}

.pwck_input_box {
	margin-top: 20px;
	background: #ffffff;
	border: 3px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 95%;
	border-color: #c9d3dd;
	border-radius: 5px;
}

.pwck_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 이름 영역 */
.user_wrap {
	width: 100%;
	margin-top: 20px;
}

.user_name {
	font-size: 22px;
	font-weight: bold;
}

.user_input_box {
	margin-top: 20px;
	background: #ffffff;
	border: 3px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 95%;
	border-color: #c9d3dd;
	border-radius: 5px;
}

.user_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 메일 영역 */
.mail_wrap {
	width: 100%;
	margin-top: 20px;
}

.mail_name {
	font-size: 22px;
	font-weight: bold;
}

.mail_input_box {
	margin-top: 20px;
	background: #ffffff;
	border: 3px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 95%;
	border-color: #c9d3dd;
	border-radius: 5px;
}

.mail_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

.mail_check_wrap {
	margin-top: 20px;
}

.mail_check_input_box {
	
	background: #ffffff;
	border: 3px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	border-color: #c9d3dd;
	border-radius: 5px;

	width: 61%;
	float: left;
}

#mail_check_input_box_false {
	background-color: #ebebe4;
}

#mail_check_input_box_true {
	background-color: white;
}

.mail_check_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

.mail_check_button {
	background-color: #000000; 
    color: white;
	border-radius: 5px;
	height: 51px;
	width: 31%;
	margin-top: 2px;
	margin-right: 19px;
	float: right;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: 500;

	cursor: pointer;
}

/* 인증번호 색상 영역 */
.correct {
	color: green;
}

.incorrect {
	color: red;
}

/* 주소 영역 */
.address_wrap {
	width: 100%;
	margin-top: 20px;
}

.address_name {
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: bold;
	
}

.address_input_1_box {
	

	background: #ffffff;
	border: 3px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	border-color: #c9d3dd;
	border-radius: 5px;
	width: 61%;
	float: left;
}

.address_input_1 {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

.address_button {



    background-color: #000000;

  
    color: white;
	border-radius: 5px;

	height: 51px;
	width: 31%;
	
	margin-top: 2px;
	margin-right: 19px;
	float: right;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.address_input_2_wrap {
	margin-top: 20px;
}

.address_input_2_box {
	background: #ffffff;
	border: 3px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	border-color: #c9d3dd;
	border-radius: 5px;
}

.address_input_2 {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

.address_input_3_wrap {
	margin-top: 20px;
}

.address_input_3_box {
		background: #ffffff;
	border: 3px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	border-color: #c9d3dd;
	border-radius: 5px;
}

.address_input_3 {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
	
	
}

/* 가입하기 버튼 */
.join_button_wrap {
	margin-top: 40px;
	text-align: center;
}

.join_button {	
	width : 100%;
	padding-left: 45%;
	padding-right: 45%;
    height:50px;
    background-color: #000000;
    font-size: 20px;
    font-weight: 500;
    color: white;
	border-radius: 5px;

	

}

/* 유효성 검사 문구 */
.final_id_ck {
	display: none;
}

.final_pw_ck {
	display: none;
}

.final_pwck_ck {
	display: none;
}

/* 비밀번호 확인 비교 유효성 검사 */
.pwck_input_re_1{
        color : green;
        display : none;    
}
.pwck_input_re_2{
        color : red;
        display : none;    
}  


.final_name_ck {
	display: none;
}

.final_mail_ck {
	display: none;
}

.final_addr_ck {
	display: none;
}

  
.loin-bg{
		background: #eff0f4;
		margin-top:100px;
		margin-bottom:100px;
		width : 80%;	
		padding: 100px;
		padding-bottom: 150px;

		border-width: 3px;
		border-color: #c9d3dd;
		border-style: solid;
		border-radius: 20px;		
		}
 
/* float 속성 해제 */
.clearfix {
	clear: both;
}


/*================================================ */







/*로그인 부분
================================================= */

/* 페이지 로고 */
/*
.logo_wrap{
	  color:#000000;
	text-align: center;	

}
.logo_wrap>span{
	font-size : 50px;
	font-weight: 1000;
}



.id_input_box{
	background: #ffffff;
	border: 2px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 100%;
	border-color: #c9d3dd;
	border-radius: 5px;
}
.id_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;

}


.pw_wrap{
	margin-top: 40px;
}
.pw_input_box{
		background: #ffffff;
	border: 2px solid;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 100%;
		border-color: #c9d3dd;
		border-radius: 5px;
}
.pw_iput{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;

}
.login_button{
	width : 100%;
	padding-left: 45%;
	padding-right: 45%;
	margin-top: 50px;
    height:50px;
    background-color: #000000;
    font-size: 20px;
    font-weight: 500;
    color: white;
	border-radius: 5px;
 
}



.login-bg{
		background: #eff0f4;
		margin-top:100px;
		margin-bottom:100px;
		width : 50%;	
		padding: 100px;
		padding-bottom: 150px;
		margin-left:15%;
		border-width: 3px;
		border-color: #c9d3dd;
		border-style: solid;
		border-radius: 20px;		
		}

.loginm {
  display: flex;
margin-top:30px;
  align-items: center;

}
.login-f {
margin-right:10%;
}

.clearfix{
	clear: both;
}
*/

/*
======================================== */







/* 
side
===========================*/
.sidebar p{
	width:100%;
	  color:#000000;
	text-align: center;	
font-size: 25px;
    font-weight: 200px;
		margin-top: 6px;
}

.sidebar .logo_wrap{
	  color:#000000;
	text-align: center;	

}
.sidebar .logo_wrap>span{
	font-size : 50px;
	font-weight: 1000;
}



.sidebar .id_input_box{
	background: none;
	height:31px;
	padding: 10px 14px;	
	display: block;
	width : 85%;
	border-color: #c9d3dd;
	
	

	border-top : none;
	border-right : none;
	border-left : none;
	border-bottom : 3px solid #c9d3dd;
	margin-left: 4%;
	
	
}
.sidebar .id_input{
	width:100%;
	height:100%;
	border:none;
	font-size:23px;
	background: none;
}


.sidebar .pw_wrap{
	margin-top: 20px;
}
.sidebar .pw_input_box{
	background: none;

	height:31px;
	padding: 10px 14px;	
	display: block;
	width :85%;
	border-color: #c9d3dd;
		
	border-top : none;
	border-right : none;
	border-left : none;
	border-bottom : 3px solid #c9d3dd;
	margin-left: 4%;
}
.sidebar .pw_iput{
	width:100%;
	height:100%;
	border:none;
	background: none;
	font-size:22px;

}
.sidebar .login_button{
	width : 85%;
	padding-left: 30%;
	padding-right: 30%;
	margin-top: 30px;
	margin-left: 20px;
    height:50px;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 50px;
    color: #FF0000;
	border : 4px solid #FF0000;
	border-radius: 25px;
    /* border-color: #FF0000;*/ 
}



.sidebar .login-bg{
		background: #eff0f4;
		margin-top:100px;
		margin-bottom:100px;
		width : 50%;	
		padding: 100px;
		padding-bottom: 150px;
		margin-left:15%;
		border-width: 3px;
		border-color: #c9d3dd;
		border-style: solid;
		border-radius: 20px;		
		}

.sidebar .loginm {
  display: flex;
margin-top:30px;
  align-items: center;

}
.sidebar .login-f {
margin-left:11%;

}

.sidebar .login-f a{
   font-size: 18px;

color: #aaaaaa;
}

.sidem_a {
  display: flex;
  height: 60px;
  justify-content: flex-start;
  align-items: center;

}

.sidem_b {
  display: flex;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
}

.sidem {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;

}
.sidem_mm{
	margin-top:10px;
	margin-left:15px;
}
.sidem_mm1{
	margin-left:15px;
	padding-top:25px;
}
.items {
  height: 50px;
  text-align: center;
}
	.sidem-bg{
		margin-left:7px;
		margin-right:7px;
		background: #FF0000;
		height: 4px;
		border-radius: 100px;
		
		}

	.sidem-bg2{
		margin-left:5px;
		margin-right:10px;
		margin-top:1px;		
		background: #D7D7D7;
		width: 3px;
		height:200px;
		}
		
		.sidem-bg3{
		margin-left:5px;
		margin-right:10px;
		background: #D7D7D7;
		height: 4px;
		border-radius: 100px;
		
		}

.sidem2 {
  display: flex;
  height: 230px;
  justify-content: space-between;
  align-items: center;

}
.items2 {
  height: 230px;
  text-align: center;

}
.items2-mm1 {
 margin-top:5px;
	margin-left:50px;
}
.items2-mm2 {
	 margin-top:5px;
  margin-right:40px;
}
.sidem2-f{
		margin-top:2%;
		line-height : 100%;
		font-size: 35px;
		font-family: "한컴 바겐세일 M";
		color:#000000;
		}
		
		.sidem2-f2{
line-height : 100%;
		font-size: 20px;
		font-family: "고딕";
		color:#000000;
		}
		

.sidem-mm4{
		   padding-top:15px;
		   padding-bottom:15px;
		    padding-left:10px;

		}

.sidem-mm5{
			padding-left:10px;
		   padding-top:15px;
		   padding-bottom:15px;
		   background: #FFFFFF;
		}
		
		
		

/*=======================================================*/



		.Page-Title{
	
  border-bottom: 3px solid #999999;
  text-align: center;
  font-size:60px;
  width:100%;
  height:50px;
  font-family: "HY바다M";
  	color:#000000;
}
	
		.carousel-bg {
		background: #000000;
		width: 100%


		}
		
		.v-bg {
		background: #d6d6d6;
		margin-top:55px;		
		height:630px;
		width: 1px;
		}

		.v-bg1 {
		background: transparent;			
		height:320px;
		width: 1px;
		}
		.v-bg2 {
		background: #d6d6d6;
		margin-top:55px;
		width: 1px;		
		height:550px;
		}

		.f-bg{
		background: #f7f6f6;
		margin-top:80px;
		
		padding-bottom: 10px;
		
		
		border-width: 2px;
		border-color: #c0c0c0;
		border-style: solid;
		border-radius: 20px;
		
		}
		.f-bg2{
			background: #000000;
			margin-top:80px;
			margin-right:10px;
			margin-left: 10px;
			padding-bottom: 10px;
			width: 100%;
			margin-left:25px;
			border-width: 2px;
			border-color: #c0c0c0;
			border-style: solid;
			border-radius: 20px;
		}
		.my-f1{
		margin-top:4%;
		font-size: 20px;
		font-family: "고딕";
		color:#000000;
		}
		.my-f2{
		margin-top:1%;
		font-size: 20px;
		font-family: "고딕";
		color:#000000;

		}
		.my-f3{
		margin-top:1%;
		font-size: 20px;
		font-family: "한컴 백제 M";
		color:#000000;
		}

		.my-f4{
			margin-top:1%;
			font-size: 20px;
			font-family: "고딕";
			color:#ffffff;
		}

		.my-f5{
		margin-top:1%;
		font-size: 30px;
		font-family: "한컴 백제 M";
		color:#000000;
		}
		
		.my-f6{
		margin-top:2%;
		line-height : 100%;
		font-size: 50px;
		font-family: "한컴 바겐세일 M";
		color:#000000;
		}
		.mm{
		margin-left:50px;
		}
		.mm1{
		margin-left:55px;
		}
		.mm2{
		margin-left:88%;
		margin-top:1%;
		}
		.mm22{
		margin-left:50%;
		margin-top:1%;
		padding-left: 50px;
		padding-right:50px;
		width: 170px;
		font-family: "한컴 백제 M";
		}
		.mm23{
		margin-left:20%;
		margin-top:1%;

		width: 150px
		}
		.mm24{
		margin-left:41%;
		margin-top:1%;

		width: 170px
		}
		.mm3{
		margin-left:60px;
		margin-top:40px;
		margin-bottom:30px;
		}
		.mm4{
		margin-left:50px;
		margin-top:30px;
		margin-bottom:30px;

		}
		
		.mm5{
		margin-left:30px;

		}
		
		.mm6{
		margin-left:40px;
		margin-top:70px;
		margin-bottom:5px;
		}
		
			.mm7{
		margin-left:50px;
		margin-top:5px;
		margin-bottom:5px;
		}
		.row-view{
			background: #f7f6f6;
			
		}

		.row-view2{
			margin-left:15px;
			
			background: #f7f6f6;
			
		}



body{
	font-family:'Source Sans Pro', sans-serif;
	/*background: #e6a09c;*/
	color:#666;
	font-size:16px;
	font-weight: 400;
	  -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
}

* {
     text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

p{line-height: 24px}
a{color:#0088cc;}
a:hover{text-decoration: none;}



h1,h2,h3,h4,h5,h6{ font-family:'Source Sans Pro', sans-serif}

h1{font-size:50px; font-weight: 200; color: #555; margin-bottom: 20px; }
h2{font-size: 37px; font-weight: 300; color:#444; margin: 0px 0 margin-top: 2px;}
h3{font-size: 32px; font-weight: 400; margin-top: 60px;}
h4{font-size:18px; font-weight: 400}

/* 
HEADER ROW STYLE
===========================*/
#header-row{
	
	
	background: #ffffff;
	border-bottom:1px solid #eee;
	padding: 15px 0;
}

#header-row .navbar{margin:10px 0 0 0;}

#header-row .navbar .navbar-inner{
	border:none;
	box-shadow: none;
	margin: 0;
	background: transparent;
}

#header-row .navbar .navbar-inner ul.nav > li > a{
	box-shadow: none;
	background: transparent;
	color: #0088cc;
}
#header-row .navbar .navbar-inner ul.nav li.active a{
	color: #333;
}


/* 
Carousel
===========================*/

.carousel-control{
/* 슬라이스 넘기는 화살표*/
	background: transparent;
	width: 14px;
	height: 14px;
	font-size: 20px;
	
	top:46%;	
}

.carousel-control.right{right:-30px;}
.carousel-control.left{left:-30px;}


/*
.carousel{
	
	height: 450px;
	background: url(../img/slide-bg.png) no-repeat bottom center;
}
*/
.carousel img{/* 이미지 위치*/
	max-width: 100%;
	 margin-top:2%;
	 margin-right:0px;
	  margin-bottom:2%;
}

.carousel-caption {
	/*글씨 전체 부분*/
      background-color: transparent;
      position: relative;
      max-width: 80%;
      padding: 0 20px;
      margin-top:10%;
	  margin-left:5%;

}

.carousel-caption h1{/* 큰글씨*/
	
	line-height : 100%;
	font-size: 50px;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-family: "함초롬바탕";
	color:#ffffff;
	font-weight:200;
}
.carousel-caption .lead{/* 작은 세부 글씨*/
	
	color: #888;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 40px;
	font-weight: 400
}


/* Divider
==================*/
.hr-divider{
	background: url(../img/slide-bg.png) no-repeat bottom center; 
	width:1170px;
	height: 100px;
	margin-bottom: 50px;
	display: block;
	clear: both;}

.hr-divider2{
	display: flex;
	flex-direction:row;
}
.hr-divider2:before{
	content: "";
	flex: 1 1;
	border-bottom: 2px solid rgb(50, 50, 50);
	margin: auto;
}
.hr-divider2:after {
		content: "";
		flex: 12 10;
		border-bottom: 2px solid rgb(50, 50, 50);
		margin: auto;
   }
/*Feature
==========================*/
.feature-box{
	padding-top :10px;
	text-align: center;
}
.cnt-title { text-align: center; margin-bottom: 50px; }
.cnt-title2 { text-align: left; margin-bottom: 50px; }
.cnt-title span {
    color: #000000;
	font-family: "한컴 바겐세일 M";
	font-size: 48px;
	font-weight: 100;
}
.cnt-title2 span {
	margin-left: 40px;
	font-family: "한컴 바겐세일 M";
	font-size: 50px;
	font-weight: 100;
}
/*
.feature{
	padding-top :1px;
	height: 520px;
	background: url(../img/slide-bg.png) no-repeat bottom center;
}
*/

/* Review
==========================*/
.review{
	margin: 80px 0;
}

/* Page Header
==========================*/

.page-header{
	border-bottom: 1px solid #f5f5f5;
}


/*Media
========================*/

.media{
	margin-bottom:50px;
}

/*MAP
========================*/
#map-canvas{
	height: 400px;
	border: 15px solid #fff;
	box-shadow:0 0 0 1px #f5f5f5;
}


/*MAP
========================*/

.blog-post{
		border-bottom: 2px solid #f5f5f5;
		padding:0 0 50px; 
		margin-bottom: 40px;
}


.blog-post p{
	margin: 20px 0;

}


.postmetadata{
	margin-bottom: 20px;
	padding: 5px 0;
}

.postmetadata ul{margin: 0; padding: 0}

.postmetadata ul li{
	display: inline-block;
	margin-right: 20px;
}

.postmetadata i{
	margin: 4px 5px 0 0;
}


/*Sidebar
========================*/

.side-bar{margin-bottom: 30px;}

.side-bar ul{margin: 0; padding: 0}
.side-bar ul li{list-style: none;}

.side-bar h3{margin-bottom: 10px}

.recent-post strong {display: block; margin-bottom: 5px; color: #888 }

.recent-post li{margin-bottom: 15px}

/*Tags
========================*/

/*Calendar
========================*/
.calendar {


  }
  
  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .year-month {
	font-size: 35px;
	margin-bottom:20px;
  }
  .days-bg{
	padding-bottom: 10px;			
  }
  .nava {
	display: flex;
	border: 1px solid #333333;
	margin-bottom:20px;
	border-radius: 5px;
  }
  
  .nav-btn {
	width: 28px;
	height: 30px;
	border: none;
	font-size: 16px;
	line-height: 34px;
	background-color: transparent;
	cursor: pointer;
  }
  
  .go-today {
	width: 75px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
  }
  /*
  .days {=
	display: flex;
	margin: 25px 0 10px;
	font-size: 30px;
  }
  
  .day {
	width: calc(100% / 7);
	text-align: center;
  }
  */
  .dates {
	display: flex;
	flex-flow: row wrap;
    	height: 750px;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
  }
  
  .date {
	width: calc(100% / 10);
	padding: 23px;
	text-align: right;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;

  }
  /*
  .day:nth-child(7n + 1),
  .date:nth-child(7n + 1) {
	color: #D13E3E;
  }
  
  .day:nth-child(7n),
  .date:nth-child(7n) {
	color: #396EE2;
  }
  */
  .other {
	opacity: 0.3;
  }
  
  .today {
	position: relative;
	color: #FFFFFF;
  }
  
  .today::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 35px;
	height: 35px;
	display: block;
	background-color: #FF0000;
	border-radius: 40%; 
	content: '';
  }
		.f-bg3{
		background: #FAFAFA;
		margin-top:20px;

	   padding: 15px;
		padding-bottom: 70px;
		
		border-width: 2px;
		border-color: #c0c0c0;
		border-style: solid;
		border-radius: 20px;
		
		}


/*Footer
========================*/

footer{
border-top:1px solid #eee;
background: #f5f5f5;
padding: 30px 0;
color: #ccc;
margin-top:40px;
}


/* Responsive View
=================================*/

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

 }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }


